@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  margin: 0;
 font-family: "League Spartan", sans-serif;
  background: #f2f2f2;
}

.parent {
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px;
}



.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.left {
  max-width: 300px;
}

.left h1 {
  color: #512051;
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: bold;
}

.left p {
  color: #927b91;
  line-height: 1.5;
  width:400px;
}



.right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(247, 242, 248);
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  color:rgb(55, 18, 52);
  height: 25px;
}

.rating p {
  margin: 0;
}



.stars {
  display: flex;
  gap: 5px;
  background-color: rgb(247, 242, 248);
}

.stars img {
  width: 16px;
}



.shift1 {
  margin-left: 25px;
}

.shift2 {
  margin-left: 50px;
}



.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #512051;
  color: white;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
}



.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.user img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user h4 {
  margin: 0;
  font-size: 15px;
}

.verified {
  font-size: 12px;
  color: #ee68a4;
  margin: 0;
}


.middle {
  margin-top: 20px;
}

.bottom {
  margin-top: 40px;
}

