/* 18)გაქვს navigation:

logo
menu
profile

shorthand-ით გააკეთე:

logo — ფიქსირებული ზომა
profile — ფიქსირებული ზომა
menu — adaptive (იზრდება და მცირდება) */

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
}


.logo img {
  height: 50px;
  width: auto;
  flex: 0 0 0;
}


.menu {
  display: flex;
  flex: 1 1 0;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
  justify-content: center;
}

.menu li:last-child {
  flex: 0 0 0;
  background-color: red;
  padding: 8px 12px;
  border-radius: 5px;

}