/* 6)გაქვს navigation bar:

მარცხნივ არის logo <-- რაიმე პატარა ფოტო
შუაში ნავიგაციის menu
მარჯვნივ button 

გამოიყენე flex რომ გაალამაზოტ მაქსიმალურად ნავიგაციის მენიუ

გააკეთე ისე, რომ:

menu-მ დაიკავოს მაქსიმალური დარჩენილი სივრცე
logo და button დარჩეს თავიანთ ზომაზე

გამოიყენე flex-grow */

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  gap: 20px;
}

.logo img {
  height: 40px;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}


.button {
  padding: 8px 16px;
  background-color: #ff1919;
  border: none;
  border-radius: 5px;
  color: white;
}