* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns:150px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap:5px;

}

.first {
    background-color: hsl(339, 81%, 51%);
    grid-column-start:1 ;
    grid-column-end:3 ;

    grid-row-start: 1;
    grid-row-end: 3;
}

.second {
    background-color: hsl(35, 98%, 53%);
    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start:1 ;
    grid-row-end:1 ;
}

.third {
    background-color: hsl(292, 52%, 48%);
    grid-column-start:3 ;
    grid-column-end:4 ;

    grid-row-start:2 ;
    grid-row-end:3 ;
    
}

.fourth {
    background-color: hsl(203, 17%, 41%);
    grid-column-start:4 ;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;
}

.text {
    font-size:20px;
    font-weight: bold;
    color:white;
    border-radius: 5px;
}