* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns:100px 100px 100px ;
    grid-template-rows: 100px 100px 100px;
    gap:15px
}

.red {
    background-color: red;
}

.red1 {
    grid-column-start: 1;
    grid-column-end:2 ;

    grid-row-start:1 ;
    grid-row-end: 1;
}

.red2 {
    grid-column-start:2 ;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 1;
}

.red3 {
    grid-column-start:1 ;
    grid-column-end:3 ;

    grid-row-start: 2;
    grid-row-end: 3;
}

.red4 {
    grid-column-start:3 ;
    grid-column-end:4 ;

    grid-row-start: 2;
    grid-row-end: 4;
}