h1{
    color:red;
    background-color: white;
    border: 2px solid yellow;
    font-size: 40px;
    text-align:center;

}

p{
    color:blue;
    background-color: red;
    border: 2px solid white;
    font-size: 40px;
    text-align:left;
}

button{
     color:aqua;
    background-color: purple;
    border: 2px solid orange;
    font-size: 40px;
    text-align:right;
}