/* 6)შექმენით მშობელი ელემენტი მიეცით ზომები და ფერი,შენი დავალებაა ამ მშობელ ელემენტშ ჩჩაამატო  4 ფოტო რომლებიც  განლაგებულნი იქნებიან ვერტიკალურად ,  იქნებიან სრულიად მშობელი ელემენტის ცენტრში და დააშორე ეს ფოტოები ერთმანეთს 40px ით */

.parent {
    width:900px;
    height:600px;
    border:2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

body {
    background-color: black;
}

.img {
    width:100px;
    height: 100px;
}