/* 3)შექმენი კონტეინერი (width: 500px), შიგნით 3 ბლოკი.

დავალება:

გამოიყენე კუთვნილება რომელიც ამოძრავებს ელემენტებს x ღერძზე (გამოიყენე 3 ივე მათგანიდ ა გატესტე)

დააკვირდი როგორ გადაადგილდება ელემენტები ჰორიზონტალურად */


.parent {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    justify-content: flex-end;

}
