/* 4)შექმენი კონტეინერი (width: 500px), შიგნით 1 ბლოკი.

გამოიყენე:

flex ის კუთვნილება რომელიც ამოძრავებს ელემენტებს y ღერძზე (გამოიყენე 3 ივე მათგანიდ ა გატესტე)

დააკვირდი როგორ იცვლება ელემენტების ვერტიკალური პოზიცია */

.parent {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    align-items: flex-end;
   
}