/* 9)შექმენით 1 დანომრილი და 1 დაუნომრავი სია,ორივეში გქონდეთ ხუთ 5 სიის აითემი,შენი დავალებაა რომ ეს მარკები,რაც აითემებს აქვთ წინ იყვნენ შეწეული შიგნით(ტექსტი და მარკები იყვნენ ერთ ზოლზე) */
.inside {
  list-style-position: inside;
}