body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.img {
    position: relative;
    animation: heart 1.2s infinite; 
}

@keyframes heart {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.25);
    }
    30% {
        transform: scale(1.05);
    }
    45% {
        transform: scale(1.2); 
    }
    70% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1); 
    }
}