/* 15)შექმენი 5 ლინკი.
დააწერე CSS ისე, რომ:

a თეგების ფერები:

:link – მწვანე

:visited – იისფერი

:hover – წითელი

:active – შავი */

a:link {
    color:green;
}

a:visited {
    color:purple;
}

a:hover {
    color:red;
}

a:active {
    color:black;
}