/* 5)შექმენი img.

მიეცი ზომები 100px x 100px
hover-ზე:

გაიზარდოს ზომაში და გახდეს სიგანეშიც და სიმაღლეშიც 200px */

img {
    width: 100px;
    height: 100px;
}

img:hover {
    width:200px;
    height:200px;
}