/* 10)შექმენი ბლოკი და hover-ზე:

შემცირდეს ზომაში

მარცხნივ გადავიდეს 

ოდნავ დახრილი გახდეს  */

.parent {
    width:600px;
    height:600px;
    background:url("dog-7206321_640.jpg") no-repeat center/cover;

}

.parent:hover {
    width:300px;
    height:300px;
    transform: scale(0.7) translateX(-20px) rotate(-10deg);
}