/* 2)შექმენი ბლოკი (400x250) და:

სურათი იყოს მარცხენა ზედა კუთხეში

იყოს პატარა ზომის(მიეცით ზომა 100px)

ფოტო არ განმეორდეს 

ასევე - გამოიყენე shorthand იც  */

.parent {
    width: 400px;
    height: 250px;
    background: url("dog-7206321_640.jpg") no-repeat left top;

}