/* 5)შექმენი card:

სურათი ცენტრში

არ განმეორდეს

contain იყოს

ბოლოს shorthand იც */

.parent {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background: url("dog-7206321_640.jpg") no-repeat center / contain;
}