/* 8)შექმენი დივი რომელშიც ჩასვავ ბგ იმიჯს რომელიც არ მეორდება და არის ცენტრში და დაფარავს დივს , შიგნით ამ დივში ჩასვი კიდევ ერთი დივი და ამ დივსაც მიეცი სხვა bg იმიჯი,გასტილე როგორც გინდა */

.parent {
    width: 500px;
    height: 300px;
    background: url("dog-7206321_640.jpg") no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 200px;
    height: 150px;
    background: url("large-56896-2024elantra.jpg") no-repeat center / cover;

}