/* 1)შექმენით 4 პარაგრაფი ვებსაიტზე ,თითოეულ მათგანს მიეცი განსვავებული id,პირველი პარაგრაფის სისქე იყოს 100 , მეორე პარაგრაფის სისქე იყოს 700 , მესამე პარაგრაფის სისქე იყოს bolder და მეოთხე პარაგრაფის სისქე იყოს lighter */

#first {
    font-weight: 100;
}

#second {
    font-weight: 700;
}

#third {
    font-weight: bolder;
}

#fourth {
    font-weight: lighter;
}