/* 2)შექმენი ორი პარაგრაფი 

პირველ პარაგრაფს მიანიჭეთ შემდეგი სტილები --> ფერი მწვანე , ზომა 35px , სისქე 200

:hover ზე პირველ პარაგრაფს მიენჭოს შემდეგი სტილები --> ფერი წითელი , ზომა 50px  , სისქე 800

მეორე პარაგრაფს მიანიჭეთ შემდეგი სტილები --> ფერი იასამნისფერი , ზომა 15px , სისქე 300

:active ზე მეორე პარაგრაფს მიენჭოს შემდეგი სტილები --> ფერი ყვითელი , ზომა 44px  , სისქე 900 , ასევე გაუჩნდეს ლურჯი ფერის ჩრდილი */


.first {
    color:green;
    font-size:35px;
    font-weight: 200;
}

.first:hover {
    color:red;
    font-size:50px;
    font-weight: 800;
}

.second {
    color:purple;
    font-size:15px;
    font-weight: 300;
}

.second:hover {
    color:yellow;
    font-size: 44px;
    text-shadow:5px 5px 10px rgb(0,0,255);
}