/* 1)შექმენით მშობელი ელემენტი,მიეცი ზომები 600 სიგანე 600 სიმაღლე

ამ მშობელ დივში ჩასვი 5 ცალი შვილი დივი რომელსაც ექნება იასამნისფერი ფონის ფერი სიგანე 60px სიმაღლეც 60px

შენი დავალებაა რომ მშობელ ელემენტში განალაგო ეს შვილები y ღერძზე ცენტრში და x ღერძზე გატესტო სამივე მნიშვნელობა რაც გასწავლეთ სამივე მათგანი გატესტეთ თუ რას შვრება */

.parent {
    width:600px;
    height:600px;
    border:2px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
}

.child {
    background-color: purple;
    height:60px;
    width:60px;
}