/* <!-- 5) შექმენი Hero სექცია დიდი სათაურით.დააიმპორტე Google Fonts-დან ფონტი (მაგ: Poppins ან Oswald), სათაურს დაუმატე text-shadow, ჩრდილი იყოს ოდნავ ქვემოთ ჩამოწეული. -->
 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

p {
    font-family: "Oswald", sans-serif;
    text-shadow:
    0px 5px 8px rgb(243, 74, 74);
    font-size:80px;
    text-align: center;
}