/* 1)შექმენი 

ორი ცალი h2 

სამი ცალი p

თქვენი დავალებაა რომ მისცე თთოეულ ელემენტს განსხვავებული id ატრიბუტები და 5 ივე ელემენტის ფერი და ზომა გახადეტ განსხვავებული

გამოიყენეთ id და external css */

#firsth2 {
    color:red;
    font-size:20px;
}

#secondh2{
    color:green;
    font-size:15px;
}

#firstp {
    color:purple;
    font-size:10px;
}

#secondp {
    color:blue;
    font-size:23px;
}

#thirdp {
    color:yellow;
    font-size:24px;
}