body {
    background-color: black;
}

p {
    color:rgb(0, 255, 0);
    text-align:center;
    font-size:80px;
    font-weight: bold;
    text-shadow:
    0px 0px 5px rgb(0,255,0),
    0px 0px 10px rgb(0,255,0),
    0px 0px 20px rgb(0, 255, 0),
    0px 0px 40px rgb(0, 255, 0),
    0px 0px 80px rgb(0,255,0);
}