/* 3)შექმენი ღილაკი.

პირობა:

გამოიყენე ცვლადები:
--btn-color
--btn-text
--radius
ღილაკმა ყველა ეს მნიშვნელობა ცვლადებიდან მიიღოს. */

:root {
    --btn-color:green;
    --btn-text:25px;
    --radius:20px;
}

button {
    background-color: var(--btn-color);
    font-size:var(--btn-text);
    border-radius:var(--radius)
}