@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  font-family:"Poppins",sans-serif;
}

.main{
  width:1350px;
  background:white;
  padding:60px;
}

.text{
  text-align:center;
}

.delivery{
  font-size:32px;
  color:hsl(212, 6%, 44%);
  font-weight:200;
}

h1{
  color:hsl(234, 12%, 34%);
  margin-bottom:15px;
}

.line{
  display:block;
  color:hsl(212, 6%, 44%);
  font-size:15px;
}

.cards{
  margin-top:70px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:30px;
}

.middle{
  display:flex;
  flex-direction:column;
  gap:30px;
}

.card{
  width:350px;
  height:250px;
  background:white;
  border-radius:10px;
  padding:35px;
  box-shadow:0px 10px 20px rgba(0,0,0,0.1);
  position:relative;
}

.card h2{
  color:hsl(234, 12%, 34%);
  margin-bottom:10px;
}

.card p{
  color:hsl(212, 6%, 44%);
  font-size:14px;
  line-height:1.7;
}

.icon{
  width:65px;
  position:absolute;
  right:35px;
  bottom:35px;
}

.card1{
  border-top:5px solid hsl(180, 62%, 55%);
}

.card2{
  border-top:5px solid hsl(0, 78%, 62%);
}

.card3{
  border-top:5px solid hsl(34, 97%, 64%);
}

.card4{
  border-top:5px solid hsl(212, 86%, 64%);
}