/* 1)შექმენით ერთი მშობელი ელემენტი , მიეცი ზომები 600px 600px და გაუკეთეთ ბორდერი

შიგნით ჩასვი 6 შვილი ელემენტი,მიეცი ზომები 60px 60px 

ეს შვილები განალაგე მშობელი ელემენტის ცენტრში და დააშორე ერთმანეთს 20პხ ით

შენი დავალებაა რომ ამ 6 შვილი ელემენტიდან ამოარჩიო 2 ელემენტი 

ამ ორიდან პირველს შეუცვალე პიზიცია y ღერძზე და გადაიტანე სტარტში ხოლო მეორე end ში */

.parent {
    width:600px;
    height:600px;
    border:2px dashed red;
    display:flex;
    align-items: center;
    gap:20px;
}

.child {
    width:60px;
    height:60px;
    background-color: blue;
    color:white;
}

#first {
    align-self: start;
}

#second {
    align-self: end;
}

body {
    background-color: black;
}
