/* 1)შექმენით ერთი მშობელი დივი , მიეცი ზომები 700პხ 700პხ , და მიეცი ბორდერი წითელი ფერის

ამ მშობელ დივშიდ ჩაამატე 3 შვილი დივი , ამ შვილ დივებსაც მიეცით ზომები 150პხ 150პხ და უკანა ფონის ფერი ლურჯი ,ამ დივებში ჩაწერე რიცხვები 1 2 და 3

შენი დავალებაა რომ მშობელ ელემენტში ეს შვილი ელემენტები განალაგო ჰორიზონტალურად მაგრამ ისე რომ განლაგება იყოს უკუღმა ანუ 3 2 1 

გამოიყენეთ display flex და flex direction ის შესაბამისი კუთვნილება */

.parent {
    width:700px;
    height: 700px;
    border: 2px solid red;
    display: flex;
    flex-direction: row-reverse;
}

.child {
    width:150px;
    height:150px;
    background-color: blue;
    color: white;
}