@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
}

.parent {
    width: 700px;
    height: 500px;
    display: flex;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}

#first {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    margin-top: 20px;
    opacity: 75%;
}

#circle {
    width: 170px;
    height: 170px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1 {
    color: hsl(0, 0%, 100%);
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
}

#p2 {
    color: hsl(0, 0%, 100%);
    opacity: 60%;
    font-size: 16px;
}

#p3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.description {
    text-align: center;
    color: hsl(241, 100%, 89%);
    font-size: 17px;
    line-height: 1.4;
    padding: 0 40px;

    width:320px
}

.line {
    display: inline;
}

.summary-card {
    width: 50%;
    padding: 40px;
    background-color: transparent;
    height: 100%;
}

h2 {
    color: #303b5a;
    margin-bottom: 25px;
    font-size: 22px;
}

.stat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin-bottom: 16px;
    border-radius: 12px;
    font-weight: 700;
}

.category-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.category-icon {
    width: 20px;
    height: 20px;
}

.score {
    color: #8b8e97;
}

.score b {
    color: #303b5a;
}



.continue-btn {
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background-color: #303b5a;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

}

/* თითოეული ხაზის საერთო სტილი */
.stat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    font-weight: 700;
}


.reaction { 
    background-color: hsla(0, 100%, 67%, 0.1); 
}
#react { 
    color: hsl(0, 100%, 67%); 
}


.memory { 
    background-color: hsla(39, 100%, 56%, 0.1); 
}
#memor { 
    color: hsl(39, 100%, 56%); 
}


.verbal { 
    background-color: hsla(166, 100%, 37%, 0.1); 
}
#ver { 
    color: hsl(166, 100%, 37%); 
}

.visual { 
    background-color: hsla(234, 85%, 45%, 0.1); 
}
#visa { 
    color: hsl(234, 85%, 45%); 
}