/* 1)შექმენი div რომელშიც იქნება ერთი ტექსტი:

დივის სტილები:

border: 2px solid black

გააკეთე ისე რომ ოთხივე მხარეს ბორდერსა და კონტენტს შორის იყოს 100px */

div {
    border: 2px solid black;
    padding: 100px;
}