/* 10)შექმენით საიტზე შემდეგი თეგები შემდეგი კომბინაციით ==>

<p> .... </p>
<button>...</button>
<h1> ... </h1>


შენი დავალერბაა რომ ღილაკს მისცე დაშორება მხოლოდ ქვემოდან 40px

ასევე მიეცი ბორდერი ყველა მხარეს 8px dotted blue , და მოუმრგვალე კუთხეები 10px ით

ასევე მიეცი დაშორება ბორდერსა და გარე ელემენტებს შორის მხოლოდ ქვემოდან 140px იანი

ასევე p  ს მიეცი გარე დაშორება (margin) მხოლოდ ზემოდან ქვემოდან 100px */

p {
  margin-top: 100px;
  margin-bottom: 100px;
}

button {
  padding-bottom: 40px;

  border: 8px dotted blue;
  border-radius: 10px;

  margin-bottom: 140px;
}