/* 3)შექმენი დივი,შიგნით მოათავსე რაიმე პატარა ფოტო 

დივის სტილები:

border: 2px solid black

გააკეთე ისე რომ ფოტოსა(ანუ კონტენტსა) და ბორდერს შორის დაშორება იყოს ==>

ზემოდან 30px , მარჯვნიდან 50px ,ქვემოდან 90px ,მარცხნიდან 100px */

div {
    border:2px solid black;
    padding:30px 50px 90px 100px;
}

