/* 4)შექმენი დივი ,შიგნით ჩასვი ღილაკი

დივის სტილები

border: 2px solid black

შენი დავალებაა რომ კონტენტსა(ანუ ბათონსა) და ბორდერს შორის დაშორება მხოლოდ ქვემოდან იყოს 100px

ღილაკის სტილები==>

დაშორება კონტენტსა და ბორდერს შორის იყოს მხოლოდ ქვემოდან 30px */

div {
    border:2px solid black;
    padding-bottom:100px;
}

button {
    padding-bottom: 30px;
}