/* 1)შექმენი 4 ღილაკი

პირველ ღილაკს ქონდეს ----- ოთხივე მხარეს დაშორება ბორდერსა და კონტნტს შორის 40px

მეორე ღილაკს ქონდეს ----- ზემოდან და ქვემოდან 30px და მარჯვნიდან და მარცხნიდან 20px

მესამე ღილაკს ქონდეს ----- ზემოდან 10px მარჯვნიდან 20px ქვემოდან 50px მარცხნიდან 100px

მეოთხე ღილაკს ქონდეს ---- დაშორება მხოლოდ ქვემოდან 50px */

#first {
    padding:40px
}

#second {
    padding:30px 20px;
}

#third {
    padding:10px 20px 50px 100px
}

#fourth {
    padding-bottom:50px;
}