@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Epilogue", sans-serif;
    background-color: #f2f2f2;
}

#body {
    width:1300px;
    height: 820px;
    background-color: #fff;
}

header {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 60px;
}

#headerdiv {
    display: flex;
    align-items: center;
    gap:60px;
}

ol {
   display: flex;
   align-items: center;
   gap:35px;
   list-style: none;
   font-size:14px;
   color:grey;
}

#buttondiv {
    display: flex;
    align-items: center;
    gap:25px;
}

h2 {
    font-size:32px;

}

#login {
    border:none;
    color:grey;
    background-color: white;
    font-size:14px;
}

#register {
    background-color: white;
    border-radius: 10px;
    border:1px solid black;
    padding:10px 18px;
    font-size:14px;
}

.maindiv {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 110px;
    height: calc(100% - 80px);
    
}

.textdiv {
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items: start;
    width:50%;
}

h1 {
    color:black;
    font-size:70px;
    line-height:1.1;
}

.textdiv p {
    color: grey;
    font-size:16px;
    line-height:1.6;
    max-width:400px;
}

#learn {
    background-color: hsl(0, 0%, 8%);
    color:white;
    border-radius: 10px;
    padding:12px 25px;
    border:none;
    font-weight:600;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    font-family: "Epilogue", sans-serif;
}

.imgdiv {
    display: flex;
    align-items: center;
    gap:50px;
    margin-top:30px;
}

.imgdiv img {
    height:20px;
    opacity:0.7;
}

#mainimg {
    width:450px;
}