/* 1)შექმენით ერთი დივი,მიეცით ზომები და ფერი

შენი დავალებაა რომ სქროლვის დროს დივი აიპინოს ეკრანის მარჯვენა მხარეს და ცენტრში(Y) */

body {
    height: 100vh;
}

.parent {
    width: 150px;
    height: 150px;
    background-color: red;
    position: fixed;
    right: 0;
    top: 50%;
}