/* 2)შექმენით ერთი დივი რომელსაც პოზიცია ეექნება sticky ,ზემოდან ქვემოთ სქროლვის დროს ელემენტი აიპინოს ეკრანეზე როცა დივსა და ზემოთ კიდეს შორის მანძილი იქნება 40px,ხოლო ქვემოდან ზემოთ სქროლვის დროს აიპინოს მაშინ როდესაც მანძილი ელემენტსა და ქვედა კიდეს შორის იქნება 65px */


.parent {
    width: 200px;
    height: 120px;
    background-color: orange;

    position: sticky;

    top: 40px;
    bottom: 65px;
}