/* <!-- 2)შექმენი პარაგრაფი, რომელსაც აქვს class.
მიანიჭე მას განსხვავებული სტილი როგორც tag selector-ით, ასევე class selector-ით.
დააკვირდი, რომელი სტილი იმუშავებს და ახსენი მიზეზი. --> */

p {
    color:blue;
}

.first {
    color:red;
}

/* პარაგრაფის ტექსტი იქნება წითელი ფერი, რადგან class selector მეტი პრიორიტეტი აქვს. */