/* 3)ერთ ელემენტს მიანიჭე class და id ერთდროულად.
ორივესთვის დაწერე განსხვავებული სტილი.
ნახე რომელი სტილი იმუშავებს და ახსენი მიზეზი. */

#first {
    color:yellow;
}

.second {
    color:red;
}

/* პარაგრაფის ტექსტი იქნება ყვითელი,რადგან id მეტი პრიორიტეტი აქვს */