/* 5)ერთსა და იმავე selector-ს ორი სხვადასხვა სტილი დაუწერე.
ერთ-ერთი სტილი დაწერე ზემოთ, მეორე ქვემოთ.(სიტყვაზე color:blue ს ქვემოთ დაწერე color:red;
დააკვირდი, რომელს აირჩევს ბრაუზერი */

p {
    color:red;
}

p {
    color:blue;
}