/* 6)ელემენტს დაუწერე სტილი inline ფორმით და ასევე CSS ფაილში.
შეადარე მათი პრიორიტეტი და ახსენი შედეგი. */

p {
    color:green;
}

/* ტექსტის ფერი იქნება წითელი,რადგან inline css მეტი პრიორიტეტი აქვს. */