/* 10)შექმენით <div> class-ით, რომლის შიგნით არის:

ერთი პარაგრაფი

ერთი სათაური

CSS-ში:

div-ს class-ით მიანიჭეთ ტექსტის ფერი

შიდა ელემენტებს ცალ-ცალკე არ მისცეთ სტილი */


.div1 {
    color:red;
}