/* 10)შექმენით <div> class-ით, რომლის შიგნით არის:

ერთი პარაგრაფი

ერთი სათაური

ერთი ღილაკი

CSS-ში:

ამ დივიდან ჩაწვდით მხოლოდ ღილაკს და მიეცით ფერი წითელი და ბორდერი მწვანე ფერის,გამოიყენე style inheritance */

.first button {
    color:red;
    border: 2px solid green;
}