/* 13)შექმენი დალაგებული სია 10 ელემენტით

5 ელემენტს მიეცი ერთნაირი კლასი და გასტილე სურვილისამებს

დანაღჩენ 5 ს მიეცი განსხვავებული კლასები ცალცალკე და გასტილე სურვილისამებრ */

.group1 {
    color:green;
    background-color: yellow;
    font-size: 30px;
}

.group2 {
    color:red;
    background-color: purple;
    font-size: 20px;
}