/* 12)შექმენი 

3 პარაგრაფი

3 ღილაკი

3 h3

ამ 9 ვე თეგს მიეცით ერთნაირი კლასები და ცსს ში იმშავე მხოლოდ კლასებით

სამივე პარაგრაფს მიეცი ფერი წითელი ზომა 20px

სამივე სათაურს მიეცი ფერი ლურჯი,უკანა ფონი ყვითელი

სამივე ღილაკს მიეცი ზომა 40px,ფერი მწვანე

გამოიყენე (თეგის სახელი.კლასის სახელი) და მასე გასტილე ელემენტები */

.same p {
    color:red;
    font-size:20px;
}

.same h3 {
    color:blue;
    background-color: yellow;
}

.same button {
    font-size:40px;
    color:green;
}