/* 3)HTML-ში შექმენით <div> id-ით, რომლის შიგნით არის:

ერთი სათაური

ერთი პარაგრაფი

CSS-ში:

id-ის გამოყენებით შეცვალეთ მხოლოდ შიგნით არსებული სათაურის ფერი, ისე რომ პარაგრაფს არ შეეხოს.

გამოიყენეთ style inheritance */

#div1 h1 {
    color:green;
}