/* 1)შექმენით სარეგისტრაციო ფორმა ===> ფორმაშ უდნა გქონდეთ 4 ინფუთი თავისი ლეიბლებით(დააკავშირეთ ისინი ერთმანეთს for და id)

პირველი ინფუთი არის სახელისთვის type = "text"

მეორე ინფუთი არის გვარისთვის type = "text"

მესამე ინფუთო არის ემაილისთვის type = "email"

მეოთხე ინფუთი არის პაროლისთვის type = "password"

თქბენი დავალებაა რომ ==>

ის ელემენტები რომელსაც აქვს ატრიბუტი type = "text" გასტილოთ შემდეგნაირად ==> უკანა ფონის ფერი წითელი,ტექსტი ლურჯი , მოურგვალეთ კუთხეები 10px ით

ის ელემენტები რომელსაც აქვს არტიბუტი type = "email" გასტილოთ შემდეგნაირად ==> უკანა ფონის ფერი სტაფილოსფერი , ტექსტი წითელი , outlin არ ქონდეს რო დააჭერთ ინფუთ ველს

და ის ელემენტები რომელსაც აქვს ატრიბუტი type = "password" გასტილეთ შემდეგნაირად ==> უკანა ფონის ფერი იასამნისფერი, ბორდერი 2px იანი წითელი , ტექსტის ფერი მწვანე , outline არ ქონდეს,კუთხეები მოამრგვალეთ 5px ით */

input[type="text"] {
    background-color: red;
    color:blue;
    border-radius: 10px;
}

input[type="email"] {
    background-color: orange;
    color:red;
    outline: none;
}

input[type="password"] {
    background-color: purple;
    border:2px solid red;
    color:green;
    border-radius: 5px;
}