/* 4)შექმენით 3 div მიეცით ზომები(სიმაღლე სიგანე) და:

პირველს მიეცით rgb(255, 0, 0)

მეორეს rgb(0, 255, 0)

მესამეს rgb(0, 0, 255)

გამოიყენე id selector  ელემენტების გასასტილად */

#first {
    color:rgb(255,0,0)
}

#second {
    color:rgb(0,255,0)
}

#third {
    color:rgb(0,0,255)
}