/* 7)შექმენით 3 div მიეცით ზომები(სიმაღლე სიგანე) და:

პირველს მიეცით #FF0000

მეორეს  #00FF00

მესამეს #0000FF

გამოიყენე clas selector ელემენტების გასასტილად */

.first {
    color:#FF0000
}

.second {
    color:#00FF00
}

.third {
    color:#0000FF
}