/* 9)შექმენი დივი და მიეეეცით კლასი parent ,ამ დივს მიეცი სიმაღლე 400px და სიგანე 50% და ფონის ფერი წითელი

ამ parent დივში შექმენი ერთ img თეგი და დაამატე ფოტო, ამ ფოტოს მიეცი სიმაღლე 40% ,შემდეგ კომენტარის სახით ახსენით თუ რა მოხდა დივის და ფოტოს შემთხვევაში */

.parent {
    height:400px;
    width:50%;
    background-color: red;
}

img {
    height:40%;
}